.cart-num-ipt-cxt * {
  /* margin: 0;
      padding: 0; */
  list-style: none;
  /* border: 0;
      box-sizing: border-box; */
}
.cart-num-ipt-cxt .cart-ipt-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  z-index: 9999;
  background-color: #000;
  opacity: 0.7;
}
.cart-num-ipt-cxt .clearfix {
  display: inline-table;
}
.cart-num-ipt-cxt .typer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  border: none;
  z-index: 10000;
  background-color: #fff;
}
.cart-num-ipt-cxt .typer h2 {
  text-align: center;
  margin: 1rem;
}
.cart-num-ipt-cxt .ul_input {
  text-align: center;
  padding: 0.25rem 0.125rem;
  font-size: 1.125rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cart-num-ipt-cxt .ul_input::after {
  content: "";
  flex: auto;
}
.cart-num-ipt-cxt .ul_input li {
  float: left;
  width: 16.6%;
  padding: 0.35rem 0.125rem;
  box-sizing: border-box;
}
.cart-num-ipt-cxt .typer li span {
  display: block;
  background-color: #fff;
  border-radius: 0.25rem;
  line-height: 2rem;
  padding-top: 0.125rem;
}
.cart-num-ipt-cxt .typer li span:active {
  background-color: #828282;
  color: #fff;
}
.cart-num-ipt-cxt .typer li.typer-pro.is-closeType {
  float: right;
  width: 22.22%;
}
.cart-num-ipt-cxt .cart-hide-ipt {
  display: none;
}
.cart-num-ipt-cxt .ul_keybord {
  text-align: center;
  padding: 0.35rem 0.125rem;
  font-size: 1.125rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cart-num-ipt-cxt .ul_keybord::after {
  content: '';
  flex: auto;
  order: 98;
  width: 10px;
}
.cart-num-ipt-cxt .ul_keybord li {
  float: left;
  width: 16.6%;
  padding: 0.35rem 0.125rem;
  box-sizing: border-box;
}
.cart-num-ipt-cxt .ul_keybord li span {
  display: block;
  background-color: #fff;
  border-radius: 0.25rem;
  line-height: 2rem;
  padding-top: 0.125rem;
}
.cart-num-ipt-cxt .typer li.typer-num.is-A {
  margin-left: 1rem;
}
.cart-num-ipt-cxt .typer li.typer-num.is-OK {
  color: #1581CF;
}
.cart-num-ipt-cxt .typer li.typer-num.is-OK span {
  display: block;
  border-radius: none;
  box-shadow: none;
  line-height: 3rem;
  padding-top: 0.125rem;
}
.cart-num-ipt-cxt .typer li.typer-num.is-Del {
  color: #1581CF;
  order: 99;
}
.cart-num-ipt-cxt .typer li.typer-num.is-Del span {
  display: block;
  border-radius: none;
  box-shadow: none;
  line-height: 3rem;
  padding-top: 0.125rem;
}
.cart-num-ipt-cxt .cartBadgeNo {
  display: flex;
  background-color: rgba(255, 255, 255, 0.95);
  height: 2.5rem;
  width: 100%;
  line-height: 2.5rem;
  color: #454545;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
}
.cart-num-ipt-cxt .cartBadgeNo p {
  display: inline-block;
  text-align: left;
}
.cart-num-ipt-cxt .cart-ipt-cancle {
  color: #1581CF;
  width: 4rem;
  text-align: center;
}
.cart-num-ipt-cxt .cart-ipt-placeholder {
  color: #828282;
}
.cart-num-ipt-cxt .cart-ipt-sure {
  color: #1581CF;
  width: 4rem;
  text-align: center;
}
.cart-num-ipt-cxt .cart-ipt-sure div {
  width: 4rem;
  text-align: center;
}
.cart-num-ipt-cxt .sure {
  float: right;
  color: #fff;
  background-color: darkgray;
  padding: .5rem;
}
.cart-num-ipt-cxt .close {
  background-color: darkgray;
  padding: .5rem;
  color: #fff;
}
.cart-num-ipt-cxt .bottom-fade-enter-active {
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
}
.cart-num-ipt-cxt .bottom-fade-leave-active {
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.cart-num-ipt-cxt .bottom-fade-enter,
.cart-num-ipt-cxt .bottom-fade-leave-to {
  transform: translateY(-1000px);
  -webkit-transform: translateY(-1000px);
  opacity: 0;
}
.cart-num-ipt-cxt .bottom-fade-enter-active,
.cart-num-ipt-cxt .bottom-fade-leave-active {
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
.cart-num-ipt-cxt .bottom-fade-enter,
.cart-num-ipt-cxt .bottom-fade-leave-to {
  transform: translateY(600px);
  -webkit-transform: translateY(600px);
  opacity: 0;
}
